/* KAYAK */

@font-face {
    font-family: 'kayak_sansbold_italic';
    src: url('/assets/font/kayak/kayak_sans_bold-webfont.woff2') format('woff2'),
         url('/assets/font/kayak/kayak_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kayak_sansbold';
    src: url('/assets/font/kayak/kayak_sans_bold-webfont.woff2') format('woff2'),
         url('/assets/font/kayak/kayak_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kayak_sanslight_italic';
    src: url('/assets/font/kayak/kayak_sans_light_italic-webfont.woff2') format('woff2'),
         url('/assets/font/kayak/kayak_sans_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kayak_sanslight';
    src: url('/assets/font/kayak/kayak_sans_light-webfont.woff2') format('woff2'),
         url('/assets/font/kayak/kayak_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kayak_sansregular_italic';
    src: url('/assets/font/kayak/kayak_sans_regular_italic-webfont.woff2') format('woff2'),
         url('/assets/font/kayak/kayak_sans_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kayak_sansregular';
    src: url('/assets/font/kayak/kayak_sans_regular-webfont.woff2') format('woff2'),
         url('/assets/font/kayak/kayak_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* COVES */

@font-face {
    font-family: 'covesbold';
    src: url('/assets/font/coves/coves_bold-webfont.woff2') format('woff2'),
         url('/assets/font/coves/coves_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'coveslight';
    src: url('/assets/font/coves/coves_light-webfont.woff2') format('woff2'),
         url('/assets/font/coves/coves_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}